
@{
    ViewData["Title"] = "Marketing Main Page";
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>ZZ Fashion</title>
    <link rel="icon" img src="~/images/B&W Logo.png">
    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row hidden-md-up">
            <div class="col-sm-6 text-center py-4">
                <div class="card border border-dark">
                    <div class="card-body">
                        <h5 class="card-title"><strong>FEEDBACK</strong></h5><br />
                        <img src="~/images/feedbacks.jpg"
                             class="img-fluid" alt="Sample Feedback Image"><br /><br />
                        <a href="~/Feedback/Index" class="btn btn-dark">VIEW</a>
                    </div>
                </div>
            </div><br>
            <div class="col-sm-6 text-center py-4">
                <div class="card border border-dark">
                    <div class="card-body">
                        <h5 class="card-title"><strong>RESPONSE</strong></h5><br />
                        <img src="~/images/AddResponse.jpg"
                             class="img-fluid" alt="Sample Response Image"><br /><br />
                        <a href="~/Response/Index" class="btn btn-dark">VIEW</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 text-center py-4">
                <div class="card border border-dark">
                    <div class="card-body">
                        <h5 class="card-title"><strong>TRANSACTION</strong></h5><br />
                        <img src="~/images/Transaction.jpg"
                             class="img-fluid" alt="Sample Transcation Image"><br /><br />
                        <a href="~/SaleTransaction/Index" class="btn btn-dark">VIEW</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 text-center py-4">
                <div class="card border border-dark">
                    <div class="card-body">
                        <h5 class="card-title"><strong>ISSUED VOUCHER</strong></h5><br />
                        <img src="~/images/Vouchers.jpg"
                             class="img-fluid" alt="Sample image"><br /><br />
                        <a href="~/Voucher/DisplayIssuedVoucher" class="btn btn-dark">VIEW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

