
@{
    ViewData["Title"] = "Member Main Page";
}

<!DOCTYPE html>
 <html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>ZZ Fashion</title>
        <link rel="icon" img src="~/images/B&W Logo.png">
        <link href="~/css/site.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    </head>

    <body>
        <div class="container">
            <div class="row hidden-md-up">
                <div class="col-sm-4 text-center py-4">
                    <div class="card border border-dark">
                        <div class="card-body">
                            <h5 class="card-title">Update Information</h5>
                            <img src="~/images/User.jpg"
                                 class="img-fluid" alt="Sample image">
                            <br />
                            <a class="nav-link btn btn-dark" asp-controller= "Member" asp-action="UpdateInformation">Update</a>
                        </div>
                    </div>
                </div><br>
                <div class="col-sm-4 text-center py-4">
                    <div class="card border border-dark">
                        <div class="card-body">
                            <h5 class="card-title">Vouchers</h5>
                            <img src="~/images/Vouchers.jpg"
                                 class="img-fluid" alt="Sample image">
                            <br />
                            <a class="nav-link btn btn-dark" asp-controller="Voucher" asp-action="MemberVoucher">View</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 text-center py-4">
                    <div class="card border border-dark">
                        <div class="card-body">
                            <h5 class="card-title">Feedback</h5>
                            <img src="~/images/feedbacks.jpg"
                                 class="img-fluid" alt="Sample image">
                            <br />
                            <a class="nav-link btn btn-dark" asp-controller="Feedback" asp-action="FeedbackMember">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>

