<head>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<form method="post" asp-action="Search">
    <div class="input-group">
        <input type="text" name="MemberID" id ="MemberID"class="form-control" width="200" placeholder="Enter a MemberID" required />
        <button type="submit" class="btn btn-outline-primary">search</button>
    </div>
</form>
